body{
    margin: 0px;
}

img{
    width: 500px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.card{
    display: flex;
    justify-content: center;
    background-color: rgba(203, 203, 203, 0.325);
    border-color: rgba(245, 229, 1, 0.416);
    transition: all 200ms ease;
}

.card:hover{
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.325);
    transform: translateY(-1%)
}

#perfil:hover{
    color: #c99404;
}

#carro:hover{
    color: #c99404;
}



